/start-with-java/mavenproject1/target/
/proyek1/proyek1/target/
/pertemuan-3/PraktikumPBO_3/nbproject/private/
/pertemuan-3/PraktikumPBO_3/build/
/pertemuan-3/TugasPBO_3/nbproject/private/
/pertemuan-3/TugasPBO_3/build/
/pertemuan-3/praktikum4/nbproject/private/
/pertemuan-3/praktikum4/build/
/pertemuan-4/tugas4_2505060012/nbproject/private/
/pertemuan-4/praktikum4/build/
/pertemuan-4/praktikum4/nbproject/private/
/pertemuan-4/tugas4_2505060012/build/
/pertemuan-5/PraktikumPBO_6/nbproject/private/
/pertemuan-5/PraktikumPBO_6/build/
/pertemuan-5/PraktikumPBO_5/nbproject/private/
/pertemuan-5/PraktikumPBO_5/build/
